.creds
terraform.tfstate.d/test/terraform.tfstate
terraform.tfstate.d/test/terraform.tfstate.backup
.terraform/plugins/linux_amd64/terraform-provider-aws_v1.60.0_x4
.terraform/plugins/linux_amd64/lock.json
terraform.tfstate.backup
terraform.tfstate
ansible.log
